Python Basics

In [2]:
## line continuation
total=1+2+3+\
4
print(total)

10

In [3]:
## multiple statements on single line
x=5;y=6;z=x+y
print(z)

11

In [ ]:
## understanding semantics in python
## python understands the type at run type
age=32
print(type(age)) ##type inference
age="abhay"
print(type(age))

<class 'int'>
<class 'str'>

#### Variables
variables in python are fundamental elements that are used to store values and in python we do not need to assign them a type ,it automatically detects the type when you store a value.

In [6]:
name="abhay" ## variable name should start with a letter or underscore and in between we can add numbers also.
age="21"
height=5.8

#### Lists

Lists are the python collection which are ordered,mutable,indexable.
They can include multiple data types like int,str,bool,float etc.

In [2]:
my_list=[1,2,3,4,"heloo",[9,5]]
print(my_list)

[1, 2, 3, 4, 'heloo', [9, 5]]

In [4]:
list1=[1,2,3]
list2=list("hello")
list3=list(range(5))
print(list1)
print(list2)
print(list3)

[1, 2, 3]
['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4]

In [5]:
lst=['a','b','c','d']
print(lst[0])
print(lst[-1])

a
d

#### Slicing

In [ ]:
list4=['a','b','c','d','e','f']
print(list4[2:5]) #c d e
print(list4[:3])  #a b c
print(list4[2:])  #c d e f
print(list4[-3:-1])#d e
print(list4[::-1])# reverses

['c', 'd', 'e']
['a', 'b', 'c']
['c', 'd', 'e', 'f']
['d', 'e']
['f', 'e', 'd', 'c', 'b', 'a']

#### Double colon

In [8]:
lst = [0, 1, 2, 3, 4, 5, 6]
print(lst[::2]) # 0 2 4 6
print(lst[::-1])# reverses
print(lst[1::2])#1 3 5

[0, 2, 4, 6]
[6, 5, 4, 3, 2, 1, 0]
[1, 3, 5]

#### List Methods

In [9]:
lst=[1,2,3]

In [12]:
lst.append(4)
lst

[1, 2, 3, 4, 4]

In [13]:
lst.extend([5,6])
lst

[1, 2, 3, 4, 4, 5, 6]

In [14]:
lst.remove(6)
lst

[1, 2, 3, 4, 4, 5]

In [15]:
lst.insert(1,9)
lst

[1, 9, 2, 3, 4, 4, 5]

In [18]:
lst_pop=lst.pop()
print(lst_pop)
print(lst)

4
[1, 9, 2, 3]

In [19]:
lst.sort()
lst

[1, 2, 3, 9]

In [20]:
lst.reverse()
lst

[9, 3, 2, 1]

In [21]:
lst=["abhay","sharma","puttu","xyz","mno","pqr"]

In [23]:
for name in lst:
    print(name)

abhay
sharma
puttu
xyz
mno
pqr

In [24]:
for i,name in enumerate(lst):
    print(i,name)

0 abhay
1 sharma
2 puttu
3 xyz
4 mno
5 pqr

#### List Comprehension

In [25]:
lst=[x**2 for x in range(10)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
lst=[x for x in range(11) if x%2==0]
lst

[0, 2, 4, 6, 8, 10]

#### Tuples
A tuple is a orderded,immutable collection of items that can store different types of data like integer,strings,boolean,lists or any other tuple.

In [2]:
my_tuple=(1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [3]:
mixed_tuple=(1,"hello",3)
print(mixed_tuple)

(1, 'hello', 3)

In [8]:
single_tuple=(1,) # In a single tuple ,we have to must add a column to make a tuple otherwise it will be trated as a int.
print(single_tuple)
print(type(single_tuple))

(1,)
<class 'tuple'>

In [9]:
# without parenthesis
without_parenthesis=1,2,3,4,5
print(without_parenthesis)

(1, 2, 3, 4, 5)

In [12]:
# Nested Tuples
nested_tuple=(1,2,3,(9,5,8),(1,2,("abhay","sharma")),[1,2,3,(1,2,3,["abhay","sharma"])])
print(nested_tuple)
print(type(nested_tuple))

(1, 2, 3, (9, 5, 8), (1, 2, ('abhay', 'sharma')), [1, 2, 3, (1, 2, 3, ['abhay', 'sharma'])])
<class 'tuple'>

In [18]:
## count function -> count the number of occurances of an element
tup=(1,2,1,2,4,2,3,1)
print(tup.count(1))

3

In [16]:
## index function -> which finds index of an element
print(tup.index(3))

6

In [19]:
print(sorted(tup))

[1, 1, 1, 2, 2, 2, 3, 4]

In [21]:
# Tuple unpacking
t=(9,5,8)
a,b,c=t
print(a)
print(b)
print(c)

9
5
8

In [22]:
# Tuple unpacking by * operator
mob=(9,5,8,2,1,9,4,8,4,1)
a,*b,c=mob
print(a)
print(b)
print(c)

9
[5, 8, 2, 1, 9, 4, 8, 4]
1

#### Sets
Sets are unordered data structure that holds unique items

In [3]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [4]:
my_set=set([1,2,3])
print(my_set)

{1, 2, 3}

In [7]:
empty_set=set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [8]:
mixed={1,"hello",3.14}
print(mixed)

{1, 3.14, 'hello'}

In [9]:
set1={1,2,3}
set2={3,4,5}
# union
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [10]:
#intersection->this gives the common element in 2 sets
print(set1.intersection(set2))

{3}

In [12]:
#difference->elements in set1 not in set2
print(set1.difference(set2))

{1, 2}

In [13]:
#symmetric difference -> items i either but not in both
print(set1.symmetric_difference(set2))

{1, 2, 4, 5}

In [15]:
#issubset->triu if all elements in other
print(set1.issubset(set2))

False

In [16]:
#issuperset->true if contains all elements of other
print(set1.issuperset(set2))

False

In [17]:
st1={1,2,3,4,5}
st2={1,5}
print(st1.issuperset(st2))

True

In [22]:
#update
st1.update([7])
print(st1)

{1, 2, 3, 4, 5, 6, 7}

In [23]:
st1.intersection_update(st2)

In [24]:
print(st1)

{1, 5}

In [27]:
st1={1,2,3,5,6}
st2={3,4,5}
st1.difference_update(st2)
print(st1)

{1, 2, 6}

In [32]:
# Membership Test
s={1,2,3}
print(2 in s)
print(5 in s)

True
False

In [39]:
a={1,2,3}
b={3,4,5}

print("union is : ",a | b)
print("intersection is : ",a & b)
print("a-b=",a-b)
print("b-a=",b-a)

union is :  {1, 2, 3, 4, 5}
intersection is :  {3}
a-b= {1, 2}
b-a= {4, 5}

#### Dictionary
a dictionary is an unordered,mutable collection of key-value pairs,each key is unique and each key maps to a value.

In [2]:
my_dict={"name":"abhay","age":21,"city":"Delhi"}
print(my_dict)

{'name': 'abhay', 'age': 21, 'city': 'Delhi'}

In [3]:
my_dict1=dict(name="abhay",age=21)
print(my_dict1)

{'name': 'abhay', 'age': 21}

In [4]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [5]:
print(my_dict["name"])

abhay

In [9]:
print(my_dict.get("age"))

21

In [10]:
print(my_dict.get("gender"))

None

In [11]:
my_dict["age"]=101
print(my_dict["age"])

101

In [12]:
my_dict["gender"]="Male"

In [13]:
print(my_dict["gender"])

Male

In [14]:
#Looping through keys
for key in my_dict:
    print(key,my_dict[key])

name abhay
age 101
city Delhi
gender Male

In [15]:
#Looping through key-value pairs
for key,value in my_dict.items():
    print(key,"->",value)

name -> abhay
age -> 101
city -> Delhi
gender -> Male

In [16]:
student={
    "name":"Alice",
    "age":21,
    "subjects":["Math","Physics"]
}
print(student["name"])

Alice

In [17]:
student["city"]="New Delhi"

In [18]:
student.update({"age":19,"gender":"Male"})

In [19]:
print(student)

{'name': 'Alice', 'age': 19, 'subjects': ['Math', 'Physics'], 'city': 'New Delhi', 'gender': 'Male'}

In [20]:
student.pop("subjects")

['Math', 'Physics']

In [21]:
new_student=student.copy()
print(new_student)

{'name': 'Alice', 'age': 19, 'city': 'New Delhi', 'gender': 'Male'}

In [22]:
# Dictionary comprehension
squares={x:x*x for x in range(5)}

In [23]:
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### Lamda function
a lambda function is an anonymous function

In [1]:
addition=lambda x,y:x+y

In [2]:
print(addition(2,3))

5

In [9]:
lst=[1,2,3,4,5,6,7,8,9,10]
squares=list(map(lambda x:x**2,lst))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

#### Filter
filter basically used to iterate and filter data with an condition ,it is used for data cleaning.

In [2]:
numbers=[1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x:x%2==0 and x>5,numbers))

[6, 8, 10]

In [1]:
nums=[9,5,8,2,1,9,4,8,4,1]
list(filter(lambda x:x>5,nums))

[9, 8, 9, 8]

#### Importing modules

In [3]:
from math import sqrt,pi
print(sqrt(25))
print(pi)

5.0
3.141592653589793

In [5]:
import numpy as np
import pandas as pd

In [6]:
np.array([1,2,3])

array([1, 2, 3])

In [8]:
from math import * # to import everything from math

#### Calculating monthly emi on house loan

In [6]:
def calculate_emi(principal, annual_rate, years):
    # Convert annual interest rate to monthly and percentage to decimal
    monthly_rate = annual_rate / (12 * 100)
    months = years * 12

    # EMI formula
    emi = (principal * monthly_rate * (1 + monthly_rate) ** months) / \
          ((1 + monthly_rate) ** months - 1)
    
    return round(emi, 2)

# Example Usage
principal_amount = 2500000
interest_rate = 9
loan_tenure = 7 

emi = calculate_emi(principal_amount, interest_rate, loan_tenure)
print(f"Monthly EMI: ₹{emi}")

Monthly EMI: ₹40222.7

In [14]:
from packages.mult import multiply #making our own packages
multiply(2,5)

10

In [15]:
from packages.addition import addition
addition(10,1)

11

#### Standard library

In [6]:
import random
print(random.randint(1,10))
print(random.choice([1,2,3,4,5,6]))

8
3

In [8]:
import shutil #High level opeartions on file.
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [14]:
import json
data={"name":"abhay","age":21}
json_data=json.dumps(data) #dict to json form
print("json data : ",json_data)
print(type(json_data))

dict_data=json.loads(json_data)
print("back to original data :",dict_data)
print(type(dict_data))

json data :  {"name": "abhay", "age": 21}
<class 'str'>
back to original data : {'name': 'abhay', 'age': 21}
<class 'dict'>

In [19]:
# csv
import csv
with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['This is new line,ok!.'])
with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['This is new line,ok!.']

In [4]:
#regular expression
import re

pattern=r'\d+'
text='there are 456 people 123.'
match=re.search(pattern,text)
print(match.group())

456

#### File Handling

In [2]:
with open('example.txt','r') as file:
    content=file.read()
    print(content)

Hello, I am Abhay , How are you?

i am fine.!!
append feature is taking place!!!!
Hello!!!!
first line
second line

In [5]:
with open('example.txt','r') as file:
    for line in file:
        print(line)

Hello, I am Abhay , How are you?



i am fine.!!

append feature is taking place!!!!

Hello!!!!

first line

second line

In [12]:
with open('example.txt','r') as file:
    for line in file:
        print(line.strip()) #removes space

Hello, I am Abhay , How are you?
i am fine.!!
Hello!!!!
first line
second line

In [7]:
with open('example.txt','w') as file: # overwriting
    file.write('Hello, I am Abhay , How are you?\n')
    file.write('i am fine.!!\n')

In [9]:
with open('example.txt','a') as file: # appending without overwriting
    file.write('Hello!!!!\n')

In [11]:
# adding a list of lines
lst=['first line\n','second line \n']
with open('example.txt','a') as file:
    file.writelines(lst)

In [13]:
# Binary Files
# Data to write (as bytes)
data = b'\x48\x65\x6C\x6C\x6F\x20\x42\x69\x6E\x61\x72\x79\x20\x57\x6F\x72\x6C\x64'

# Open the file in binary write mode
with open('example.bin', 'wb') as bin_file:
    bin_file.write(data)

In [14]:
with open('example.bin','rb') as file:
    print(file.read())

b'Hello Binary World'

In [15]:
# copy from a source file and paste to a destination file

with open('example.txt','r') as file:
    content=file.read()
with open('final.txt','w') as file:
    file.write(content)

In [17]:
with open('initial.txt','w+') as file:
    file.write('Hello World\n')
    file.write('hi,i am abhay\n')

    file.seek(0) # basically this will move the cursor to zero line and if we read without adding this line we will see nothing.
    print(file.read())

Hello World
hi,i am abhay

#### Working with file paths

In [1]:
import os
cwd=os.getcwd()
print(f'current working directory is {cwd}')

current working directory is c:\Users\dell\OneDrive\Documents\mlproject

In [ ]:
#Making a new directory
new_directory='new-directory'
os.mkdir(new_directory)
print(f'new directory {new_directory} created')

new directory new-directory created

In [17]:
#Listing files and directories
items=os.listdir()
print(items)

['.git', '.gitignore', 'basic01.ipynb', 'destination.txt', 'example.bin', 'example.csv', 'example.txt', 'final.txt', 'initial.txt', 'logs', 'mlproject.egg-info', 'new-directory', 'packages', 'README.md', 'requirements.txt', 'setup.py', 'source.txt', 'src', 'venv']

In [12]:
#join paths
directory_name='servers'
file_name='1wm2n1wu2wwudw3jdn2.tsx'
full_path=os.path.join(directory_name,file_name)
print(f'The full joined path is: [{full_path}]')

The full joined path is: [servers\1wm2n1wu2wwudw3jdn2.tsx]

In [13]:
directory_name='servers'
file_name='1wm2n1wu2wwudw3jdn2.tsx'
full_path=os.path.join(os.getcwd(),directory_name,file_name)
print(f'The full joined path is: [{full_path}]')

The full joined path is: [c:\Users\dell\OneDrive\Documents\mlproject\servers\1wm2n1wu2wwudw3jdn2.tsx]

In [18]:
#Checking a file exists or not
path='example.txt'

if os.path.exists(path):
    print(f'The {path} exists.')
else:
    print(f'The {path} does not exists.')

The example.txt exists.

In [22]:
#Checking a path is a directory or a file
path='packages'

if os.path.isdir(path):
    print('it is a directory.')
elif os.path.isfile(path):
    print('it is a file')
else:
    print('it is neither a file nor a directory')

it is a directory.